{% load navtag %} 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>动态导航栏演示</title> 
<link href="{%s static "/users/static/style.css"}" rel="stylesheet" type="text/css" /> 
</head> 
<body> 
        <ul id="nav">
			 {% navtagitem / "首 页" %} 
             {% navtagitem /users/ "文 章" %} 
             {% navtagitem /users/ "Blog" %} 
             {% navtagitem /users/ "论 坛" %} 
             {% navtagitem /users/ "联 系" %}      
        </ul> 

        {% block content %} {% endblock %}

</body> 
</html>
