{% load navtag %}
{% load staticfiles %}  
{% csrf_token %}

<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<title>Treble's shop</title> 
<link href="{% static "style.css" %}" rel="stylesheet" type="text/css" /> 
</head> 
<body> 
        <ul id="nav">
			 {% navtagitem / "首页" %} 
             {% navtagitem /product/ "商品" %} 
             {% navtagitem /merchant/ "商户" %} 
             {% navtagitem /product/ "联系" %} 
             {% navtagitem /users/ "登录" %}      
        </ul> 

        {% block content %} {% endblock %}

</body> 
</html>
