{% extends "navigationbar.html" %}
{% block content %}

{% load customtag %}

    {% for topic in topics.object_list %}
			<img src={{ topic.url}} width="165" height="100" />
        <p>{{ topic.name}},价格:{{ topic.price}},数量：{{ topic.amount}}</p>
		<p>buy</p>
    {%endfor %}

	<p>
	  {# topics.paginator.page_range 这个函数返回包含一个所有页码数的 range 对象 #}
	  {# 即 range(1, topics.paginator.num_pages + 1) #}
	  {% for page_number in topics.paginator.page_range %}
	    {% ifequal page_number  topics.number %}
	      {{ page_number }}
	    {% else %}
	      <a href="?page={{ page_number }}">{{ page_number }}</a>
	    {% endifequal %}
	  {% endfor %}
	    
	  <p> {% current_time "%Y-%m-%d %I:%M %p" %}</p>
	</p>
{% endblock %}
